/* 
** Author: Abdallah Miri
** Template: Portfolio
** version: 1.0.0
*/

/* ----------- globel ----------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between !important;
}

.container {
  max-width: 95%;
  margin: 0 auto;
}

.display-flex {
  display: flex;
  justify-content: center;
}

.content-page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-page-home {
  min-height: 100vh;
}


/* ----------- Content Page ----------- */
.content-page .container {
  flex-direction: row;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: space-evenly;
}

.content-page .info-me {
  text-align: center;
}

.content-page .info-me h1 {
  font-size: 4em;
  color: #4f5050;
}

.content-page .info-me p {
  color: #7f67ff;
  font-size: 1.6em;
  position: relative;
  padding-left: 25px;
}

.content-page .skils {
  margin-top: 55px;
  margin-bottom: 30px;
}

.skils .title-skils {
  font-size: 1.3em;
  text-align: center;
  margin-bottom: 10px;
}

.skils .container-img {
  max-width: 400px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
}

.content-page .skils .container-img img {
  width: 30px;
  display: block;
  margin: 2px 7px;
}

.content-page .skils .container-img img:nth-child(1),
.content-page .skils .container-img img:nth-child(2),
.content-page .skils .container-img img:nth-child(3) {
  width: 26px;
}

.social-media .container-media {
  max-width: 400px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
}

.social-media .title-media {
  font-size: 1.3em;
  text-align: center;
}

.social-media .item {
  width: 27px;
  margin: 5px 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-media .item-facebook {
  width: 30px;
}

.social-media .item img {
  display: block;
  width: 100%;
}

@media (max-width: 600px) {
  .container {
    max-width: 90%;
  } 
}